<!-- Trang mẫu.mọi trang ở public đề có như vậy -->
<!DOCTYPE html>
<html lang="en">
    <!-- BEGIN HEAD-->
    <% include ../template/head-link.ejs %>
    <!-- END PAGE LEVEL STYLES FORM -->
    <!-- BEGIN PAGE LEVEL STYLES PROFILE -->
    <link href="/assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES PROFILE -->
    <!-- END HEAD-->
    <!--BEGIN BODY -->
    <body class="page-header-menu-fixed">
        <!-- BEGIN NAV -->
        <% include ../template/nav.ejs %>
        <!-- END NAV -->
        <!-- BEGIN PAGE CONTAINER -->
        <div class="page-container">
            <div class="page-head container">
                <div class="page-title">
                    <h1>
                    <%= title%>
                    </h1>
                </div>
            </div>
            <div class="page-content">
                <div class="container">
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="row margin-top-10">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar" style="width: 250px;">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                                    </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                            Trang Kute
                                        </div>
                                        <div class="profile-usertitle-job">
                                            Developer
                                        </div>
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li>
                                                <a href="#" id="tongQuan" onclick="submitButtonHandler(this)">
                                                    Tổng Quan
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#upload" data-toggle="collapse">
                                                    <i class="icon-settings"></i>
                                                    UpLoad thông tin
                                                </a>
                                                <ul class="nav collapse" id="upload">
                                                    <li>
                                                        <a href="#" id="khoiTaoSV" onclick="submitButtonHandler(this)">
                                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                            Khởi tạo sinh viên
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="khoiTaoGV" onclick="submitButtonHandler(this)">
                                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                            Khởi tạo giảng viên
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" id="DKKL" onclick="submitButtonHandler(this)">
                                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                            Upload SV đủ DKDKKL
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#notification" data-toggle="collapse">
                                                    Đăng thông báo
                                                </a>
                                                <ul class="nav collapse" id="notification">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                            Đăng thông báo
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END MENU -->
                                </div>
                                <!-- END PORTLET MAIN -->
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12" id="showContentHere" >
                                        <!-- Bắt đầu đoạn hiển thị sau khi kick chi tiết-->
                                        <div class="portlet light" >
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption caption-md">
                                                    <i class="icon-globe theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Khởi tạo tài khoản sinh viên</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_1_1" data-toggle="tab">Khởi tạo tài khoản sinh viên bằng file</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_2" data-toggle="tab">Khởi tạo tài khoản sinh viên bằng tay</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <!-- PERSONAL INFO TAB -->
                                                    <div class="tab-pane active" id="tab_1_1">
                                                        <!-- BEGIN PAGE CONTENT INNER -->
                                                        <div class="portlet light">
                                                            <div class="portlet-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <form action="/users/khoa/insertbulkgv" method="POST" enctype="multipart/form-data">
                                                                            <input class="btn green" type="file" name="file" id="file">
                                                                            <br>
                                                                            <button class="btn blue" type="submit">Tải lên</button>
                                                                            <button class="btn red" type="reset">Xóa</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- END PAGE CONTENT INNER -->
                                                    </div>
                                                    <!-- END PERSONAL INFO TAB -->
                                                    
                                                    <div class="tab-pane" id="tab_1_2">
                                                        <!-- BEGIN FORM-->
                                                        <form action="javascript:;" id="form_sample_2" class="form-horizontal">
                                                            <div class="form-body">
                                                                <div class="alert alert-danger display-hide">
                                                                    <button class="close" data-close="alert"></button>
                                                                    Một vài thông tin chưa đúng.
                                                                    Xin vui lòng nhập lại.
                                                                </div>
                                                                <div class="alert alert-success display-hide">
                                                                    <button class="close" data-close="alert"></button>
                                                                    Thêm thông tin sinh viên thành công.
                                                                </div>
                                                                <div class="form-group">
                                                                <label class="control-label col-md-3">Mã sinh viên <span class="required">
                                                                * </span>
                                                            </label>
                                                            <div class="col-md-4">
                                                                <div class="input-icon right">
                                                                    <i class="fa"></i>
                                                                    <input type="text" class="form-control" name="number" placeholder="14020613"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">Họ tên <span class="required">
                                                                    * </span>
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <div class="input-icon right">
                                                                        <i class="fa"></i>
                                                                        <input type="text" class="form-control" name="name" placeholder="Phan Hà Trang"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="control-label col-md-3">Khóa học <span class="required">
                                                                    * </span>
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <div class="input-icon right">
                                                                        <i class="fa"></i>
                                                                        <input type="text" class="form-control" name="name" placeholder="QH-2014-I/CQ"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="control-label col-md-3">Ngành học <span class="required">
                                                                    * </span>
                                                                </label>
                                                                <div class="col-md-4">
                                                                    <div class="input-icon right">
                                                                        <i class="fa"></i>
                                                                        <input type="text" class="form-control" name="name" placeholder="CNTT"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Vnu mail <span class="required">
                                                            * </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <input type="text" class="form-control" name="email" placeholder="trang@vnu.edu.vn"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green">Lưu</button>
                                                            <button type="button" class="btn default">Hủy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END FORM-->
                                            </div> <!-- End tab 2 -->
                                            </div> <!-- End tab-content -->
                                            </div> <!--End portlet-body -->
                                            </div> <!-- End portlet light -->
                                            <!-- Kết thúc đoạn hiển thị sau khi kick chi tiết-->
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- END PROFILE CONTENT -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTAINER -->
            <!-- BEGIN FOOTER -->
            <% include ../template/footer.ejs %>
            <% include ../template/foot-link.ejs %>
            <!-- BEGIN PAGE LEVEL PLUGINS FORM-->
            <script>
            jQuery(document).ready(function() {
            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
            FormValidation.init();
            });
            </script>
            <!-- END FOOTER -->
        </body>
        <!-- END BODY-->
    </html>